
.header{
  background-color: rgb(5,32,60);
  display: flex;
  justify-content: center;
  color: white;
}

.headerContainer{
  width: 100%;
  max-width: 1024px;
  margin-bottom: 80px;
  position:relative;
}

.headerListItems{
  display: flex;
  gap: 40px;
  margin: 10px 0px;
}

.headerListItem{
  display: flex;
  gap: 13px;
  align-items: center;
}

.headerListItem.active{
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerTitle{
  margin-top: 40px;
  margin-bottom: 20px;
}

.headerDesc{
  margin-bottom: 15px;
}

.headerButton{
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerButton:hover{
  background-color: rgba(145, 184, 243, 0.836);
}