
.header{
  background-color: rgb(5,32,60);
  display: flex;
  justify-content: center;
  color: white;
  position:relative;
}

.headerContainer{
  width: 100%;
  max-width: 1024px;
  margin-bottom: 50px;
}

.headerContainer.list{
  width: 100%;
  max-width: 1024px;
  margin-bottom: 25px;
}

.headerListItems{
  display: flex;
  gap: 40px;
  margin: 10px 0px;
}

.headerListItem{
  display: flex;
  gap: 13px;
  align-items: center;
}

.headerListItem.active{
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerTitle{
  margin-top: 40px;
  margin-bottom: 20px;
}

.headerDesc{
  margin-bottom: 15px;
}

.headerButton{
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerButton:hover{
  background-color: #FFFDD0;
}

.headerSearch{
  height: 30px;
  color:black;
  display: flex;
  border: 3px solid #febb02;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 20px 0px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerSearchItem{
  display: flex;
  gap: 15px;
  align-items: center;

}

.headerSearchIcon {
  color: #aca2a2;
}

.headerSearchButton{
  border: none;
  padding: 7px;
  background-color:rgb(5,32,60);
  color: white;
  cursor: pointer;
}

.headerSearchItem span{
  color: #aca2a2;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 45px;
}

.headerQuantity span{
  color: black;
  cursor:initial;
}

.headerQuantity{
  padding: 10px;
  position: absolute;
  top: 45px;
}

.options{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.optionsButtonContainer{
  display: flex;
  gap: 10px;
  width: 75px;
  justify-content: space-between;
}

.optionsButtonContainer button{
  padding: 2px;
}

.optionsButtonContainer button:disabled{
  cursor: not-allowed;
}

.rdrDateDisplayWrapper {
  width: 22em;
}

.rdrMonth{
  width: 22em;
}

.rdrMonthAndYearWrapper{
  width: 22em;
}

.rdrNextPrevButton{
  margin: 0;
}
