.navbar{
  height: 50px;
  background-color: rgb(5,32,60);
  display: flex;
  justify-content: center;
  color: white;
}

.navbarContainer{
  height: 50px;
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  font-weight: 900px;
}

button{
  margin-left: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  color: rgb(5,32,60)
}